<div class="container about-container">
  <span class="about-us-header">The Story of a Simple Family Deli</span>
  <section class="bio">
    <p class="about-us">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et odio pellentesque diam volutpat commodo sed. Purus sit amet volutpat consequat mauris nunc. Purus in mollis nunc sed id semper risus in. Eget magna fermentum iaculis eu non diam. Quis enim lobortis scelerisque fermentum. Aliquam sem fringilla ut morbi tincidunt augue interdum velit. Quis eleifend quam adipiscing vitae proin. Dui faucibus in ornare quam viverra orci. Tortor aliquam nulla facilisi cras fermentum odio eu. Nibh venenatis cras sed felis eget. Eleifend mi in nulla posuere sollicitudin.</p>

      <p class="about-us">Consequat semper viverra nam libero justo laoreet sit. Amet luctus venenatis lectus magna fringilla urna porttitor. Posuere morbi leo urna molestie at elementum eu facilisis sed. Tristique et egestas quis ipsum. Nec ultrices dui sapien eget. Volutpat ac tincidunt vitae semper quis lectus nulla. Sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Malesuada bibendum arcu vitae elementum curabitur vitae. Non curabitur gravida arcu ac tortor. Ac turpis egestas integer eget aliquet nibh praesent tristique. Interdum velit laoreet id donec ultrices tincidunt. Ultrices dui sapien eget mi proin sed libero enim. Faucibus pulvinar elementum integer enim neque volutpat ac. Commodo elit at imperdiet dui accumsan sit amet nulla.</p>
  </section>

</div>
