<div class="container contact-container">
  <span class="contact-header">Contact Information</span>  
  <section class="contact-info">
    <p class="open-days">
      Open Monday-Friday, from 7am-4pm
    </p>
    <p class="number">
      <em>Phone</em>: 555-1234 <br /> <em>Email</em>: delideli@food.com
    </p>
    <p class="byline">
      <em><small>Give us a call today and see if we have what you need!</small></em>
    </p>
  </section>
</div>
