
<section class="container home-container">
  <section class="branding">
    Welcome to Our Deli!
  </section>
  <section class="tagline">
    Family owned and operated since 2021. <br />Come find out what makes our food so special!
  </section>
  <div class="attribute">
    Photo by <a href="https://unsplash.com/@marjan_blan?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Марьян Блан | @marjanblan</a> on <a href="/s/photos/deli?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </div>
</section>
