<section class="container home-container">
  <section class="branding">
    <p>Welcome to Our Deli!</p>
    <p class="cutesy">We hope you feel at home here</p>
  </section>
  <section class="tagline">
    <p>Family owned and operated since 2021. <br />Come find out what makes our food so special!</p>
  </section>
  <div class="attribute">
    <p>Photo by <a href="https://unsplash.com/@marjan_blan?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Марьян Блан | @marjanblan</a> on <a href="/s/photos/deli?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
  </div>
</section>
