<div class="container main-menu">
  <% products.each do |product| %>
    <div class="card product-card">
      <%= image_tag(product.image, class: "product-image") %>
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text"><%= product.description %></p>
        <%= button_to "Add to Cart", line_items_path(id: product.id,sproduct_id: product.id), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
