<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Drew's Delicatessen", root_path, class: "navbar-brand" %>
    <form class="d-flex">
      <%= link_to "Add an Item", new_product_path, class: "nav-link" %>
      <%= link_to "Logout", destroy_admin_session_path, class: "nav-link" %>
    </form>
  </div>
</nav>
