// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.subtotal { float: right; }

.product-price { text-align: right; }

.cart-table { height: 100vh; }

.cart-heading {
  font-family: Cabin, sans-serif;
  color: white;
}

.itemized-cart * { color: white; }
