// Place all the styles related to the Menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.menu-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.menu-title {
  height: 50px;
  width: 100%;
  font-family: Cabin, sans-serif;
  font-size: 2em;
}

/* MENU BODY */

.main-menu,
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-image { height: 200px; }

.product-card {
  width: 18rem;
  margin-bottom: 20px;
}

/* SEARCH FORM */

.search-btn { display: none; }

.term-input { width: 20%; }

.results-header { font-family: Cabin, sans-serif; }
