// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

th,
td,
.heading {
  color: white;
}

a { color: #40CC95; }

.product-show {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 50%;
}

select { width: 75px; }

.create-dish { margin-top: 20px; }

#product-image { border: none }
